.header {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header a {
    color: black;
    margin-left: 20px;
    text-decoration: none;
}